body {
    font-family: "Montserrat", sans-serif;
}

main {
    margin: auto 3em;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    background: lightblue;
}
h1 {
    font-weight: 700;
}

/* search box  */
.search-box {
    width: 50%;
}

/* images layout */
.images {
    margin: auto;
    max-width: 1200px;
}
.thumbnail {
    margin: 1.5em;
}

/* media query */
@media (min-width: 1024px) {
    .search-box {
        max-width: 30%;
    }
}

/* lightbox */
.lb-data .lb-details {
    text-align: center;
}
